.container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  margin: 0;
  transform: translate(-50%, -50%);
  width: 20%;
  border: 1px solid rgb(56, 54, 54);
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 300px;
  background-color: lightgray;
}

.login_btn {
  margin: 10px auto 10px auto !important;
  width: 50%;
}

